/*==================================== FONTS ====================================*/
/*==================================== FONTS ====================================*/

@font-face {
	font-family: druk;
	src: url('../fonts/Druk-Wide-Bold.woff') format('woff');
	src: url('../fonts/Druk-Wide-Bold.woff2') format('woff2');
}