/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/


/*------------------------------ 1110 ------------------------------*/

@media (max-width: 1110px) {
	.skills {
		&__group {
			flex-direction: column;
		}

		&__subtitle {
			margin-bottom: 1dvh;
		}

		&__item {
			padding-top: 1dvh;
		}
	}
}


/*------------------------------ 900 ------------------------------*/

@media (max-width: 900px) {
	.about {
		&__title {
			font-size: 3dvh;
		}

		&__text {
			font-size: 2dvh;
		}

		&__info {}

	}

	.contact {
		&__info {
			flex-direction: column;
			align-items: center;
		}
	}
}


/*------------------------------ 780 ------------------------------*/

@media (max-width: 780px) {
	.skills {
		&__subtitle {
			// font-size: 1.8dvh;
		}

		&__name {
			// font-size: 1.2dvh;
		}
	}
}

/*------------------------------ 660 ------------------------------*/
@media (max-width: 660px) {
	.header {
		&__socials {
			display: none;
		}
	}

	.about {
		&__inner {
			flex-direction: column;
		}
	}
}

/*------------------------------ 600 ------------------------------*/

@media (max-width: 600px) {

	.about {
		&__title {
			text-align: center;
			margin-right: 0;
		}

		&__content-top {
			flex-direction: column;
		}

		&__image {
			// width: 220px;
		}
	}

	.skills {
		&__name {
			font-size: 1.8dvh;
		}
	}

	.works {
		&__list {
			grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		}

		&__list-item {
			&:nth-child(odd) {
				transition: all 0.8s;
			}

			&:nth-child(even) {
				transition: all 0.8s .5s;
			}
		}
	}
}


/*------------------------------ 560 ------------------------------*/

@media (max-width: 560px) {
	.heading {
		font-size: 4.5dvh;
	}

	.about {
		&__heading {
			margin-bottom: 0;
		}
	}

	.skills {
		&__group {
			margin-bottom: 4dvh;
		}
	}
}

/*------------------------------ 500 ------------------------------*/
@media (max-width: 500px) {
	.header {
		opacity: 1;
		animation: none;
		transform: none;

		&__heading {
			margin-bottom: 0;
			flex: 1 1 auto;
		}

		&__menu {
			transform: translate(100%, 0);
			background: linear-gradient(to left, #1e6372, #2f96b0);
			width: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			position: fixed;
			transition: all .3s;
			flex-direction: column;
			justify-content: space-evenly;
		}

		&__menu-list {
			flex-direction: column;
			height: 200px;
			flex: 0 1 auto;
		}

		&__menu--open {
			z-index: 2;
			transform: translate(0%, 0);
		}

		&__lang {
			margin: 0 auto;
		}

	}

	.lang {
		&__dropdown {
			margin: 0 auto;
			background: transparent;
		}
	}

	.burger {
		background: #fff;
		border-radius: 50%;
		box-shadow: 0px 0px 20px 0px #afafaf;
		cursor: pointer;
		width: 50px;
		height: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 1000;
		position: absolute;
		top: 15px;
		right: 15px;
		transition: all .5s;
		opacity: 0;
		transform: translate(0, -100px);

		&--loaded {
			opacity: 1;
			transform: translate(0, 0);
		}

		&__line {
			transition: all .3s;
			width: 24px;
			height: 4px;
			background: #000;
			border-radius: 4px;
			margin: 3px 0;
		}

		&--active {
			justify-content: center;
			transform: rotate(45deg);

			.burger__line {

				&:first-child,
				&:last-child {
					position: absolute;
					transform: rotate(90deg);
				}
			}
		}
	}
}

/*------------------------------ 450 ------------------------------*/

@media (max-width: 450px) {

	.heading {
		font-size: 3.6dvh;
	}

	.header {

		&__socials {
			display: none;
		}
	}

	.about {
		&__title {
			font-size: 2.5dvh;
		}

		&__image {
			// width: 220px;
		}
	}

	.contact {
		padding: 60px 0;

		&__heading {
			margin-bottom: 20px;
		}

		&__socials {
			flex: 1 1 auto;
		}

		&__socials-list {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			height: 100%;
		}

		&__socials-item {
			padding: 0 5px;
		}

		&__socials-link {
			display: block;

			svg path {
				transition: all .3s;
			}

			&:hover {
				svg path {
					fill: $hover-color;
				}
			}
		}
	}

	.works {
		padding-top: 100px;

		&__list {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 250px;
			margin: 0 auto;
		}

		&__list-item {
			&:nth-child(even) {
				transition: all 0.8s;
			}
		}

		&__list-img {
			display: none;
		}

		&__list-gif {
			display: none;
		}

		&__list--mob {
			display: block;

			img {
				width: 100%;
			}
		}
	}
}


/*------------------------------ 400 ------------------------------*/

@media (max-width: 400px) {
	.main-heading {
		&__title {
			font-size: 40px;
		}

		&__subtitle {
			font-size: 30px;
		}
	}

	.heading {
		font-size: 2.8dvh;
	}

	.about {
		&__title {
			font-size: 2.2dvh;
		}

		&__text {
			font-size: 1.8dvh;
		}
	}


}