// ^======================== header-socials ========================^ //

.headerSocials {
  flex: 1 1 auto;
  max-width: desk(350px, 140px);

  @include MIDDLE {
    display: none;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.item {
  padding: 0 5px;
}

.link {
  display: block;
  width: desk(24px, 20px);
  aspect-ratio: 1;

  svg {
    width: 100%;
    height: 100%;
  }

  svg path {
    transition: all .3s;
    fill: var(--secondary)
  }

  &:hover {
    svg path {
      fill: var(--orange);
    }
  }
}