// @======================== works-hero ========================@ //

.works_hero {
  padding-block: desk(80px);
  min-height: calc(100dvh);
}

.heading {
  text-align: left;
  margin-bottom: desk(20px, 14px);
}