@use '../../../styles/abstracts/' as *;

// @======================== works ========================@ //

.works-section {}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.heading {
  margin-bottom: desk(60px, 40px);

  @include TABLET {
    margin-bottom: tab(40px, 20px);
  }
}

.list {}

.button {
  align-self: center;
}