// ^======================== main-button ========================^ //

.mainButton {
  display: inline-flex;
  align-items: center;
  gap: desk(8px);
  padding-inline: desk(20px);
  padding-block: desk(14px);
  position: relative;
  border-radius: desk(16px);
  box-shadow: inset 0 0 desk(5px) desk(1px) #ffffff6e;
  background-image: var(--orangeGradient);
  color: var(--white);
  font-size: desk(20px);
  transition: all 250ms;
  overflow: clip;

  @include HOVER {
    &::after {
      opacity: 1;
    }

    .blink {
      animation: slide 750ms ease-in-out forwards;
    }
  }

  &::after {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 desk(20px) desk(2px) var(--secondary50);
    transition: opacity 250ms;
  }
}

.text {
  font-size: desk(20px, 18px);
}

.icon {
  translate: 0 desk(1px, 1px);
  @include square(desk(20px, 14px));
}

.blink {
  height: 100%;
  width: 10%;
  position: absolute;
  transform: skew(-20deg);
  background-color: #ffffff34;
  translate: -130%;
  left: 0;
}

@keyframes slide {
  100% {
    left: 120%;
  }
}