@use './abstracts/' as *;

/** // *======================== GLOBAL ========================* // **/

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  min-height: 100%;
  --main: #EAEAEA;
  --secondary: #9CA3AF;
  --secondary50: #9ca3af80;
  --bg: #1b1b1b;
  --bgDark: #0f0f0f;
  --bgSecondary: #28292b;
  --accent: #1e6372;
  --hover: #2e95af;
  --orange: #ce631c;
  --lightOrange: #f59236d3;
  --white: #fff;
  --white50: #ffffff80;
  --orangeGradient: linear-gradient(to right, var(--orange), var(--lightOrange));
  --grayGradient: linear-gradient(135deg, var(--bg) 0%, var(--bgSecondary) 100%);
  --radialGradient: radial-gradient(var(--orange), var(--lightOrange));
}

body {
  background-image: var(--grayGradient);
  transition: opacity 250ms;
}

.no-scroll {
  overflow: hidden;
}

.sections-wrapper {
  margin-top: calc(-1 * desk(4px));
  color: #fff;
  box-shadow: 0 -80px 50px 50px #1e3040;

  position: relative;
  z-index: 1;
}

section {
  padding-block: desk(70px, 60px);

  @include TABLET {
    padding-block: tab(50px, 40px);
  }
}

.page-transition {
  opacity: 0;
  filter: blur(12px);
}

main {
  flex: 1;
}