@use './abstracts/' as *;

/** // *======================== GLOBAL ========================* // **/

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  min-height: 100%;
  --main: #EAEAEA;
  --secondary: #9CA3AF;
  --secondary50: #9ca3af80;
  --bg: #0D1117;
  --bgSecondary: #15212b;
  --accent: #1e6372;
  --hover: #2e95af;
  --orange: #fa7c27;
  --radius: desk(16px);
}

body {
  background-image: $mainGradient;
  transition: opacity 250ms;
}

.no-scroll {
  overflow: hidden;
}

.sections-wrapper {
  background-image: $mainGradient;
  margin-top: calc(-1 * desk(4px));
  color: #fff;
  box-shadow: 0 -80px 50px 50px #1e3040;

  position: relative;
  z-index: 1;
}

section {
  padding-block: desk(60px, 50px);

  @include TABLET {
    padding-block: tab(50px, 40px);
  }
}

.container {
  max-width: desk(1440px);
  height: 100%;

  margin-inline: auto;
  padding-inline: desk(40px, 32px);

  @include TABLET {
    padding-inline: tab(32px, 16px);
  }
}

.page-transition {
  opacity: 0;
  filter: blur(12px);
}

main {
  flex: 1;
}