@use '@/styles/abstracts' as *;

// $======================== header ========================$ //

.header {
  width: calc(100% - desk(40px));
  position: fixed;
  left: 50%;
  top: desk(18px);
  z-index: 10;
  translate: -50%;

  @include TABLET {
    top: tab(18px, 10px);
  }

  @include MIDDLE {
    top: 8px;
  }
}

.inner {
  border-radius: desk(12px);
  border: desk(1px) solid var(--secondary50);
  display: flex;
  backdrop-filter: blur(desk(20px));
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-inline: desk(16px);
  padding-block: desk(10px);

  @include MIDDLE {
    justify-content: flex-end;
    padding-block: mid(10px, 6px);
  }
}

.burger {
  display: none;

  @include MIDDLE {
    display: flex;
  }
}