// ^======================== header-lang ========================^ //

.headerLang {
  display: flex;
  position: relative;
  cursor: pointer;
  padding-inline: desk(6px);

  @include MIDDLE {
    width: auto;
    margin: 0 auto;
  }

  &:hover {
    .dropdown {
      visibility: visible;
      opacity: 1;
    }
  }
}

.selected {
  display: flex;
  align-items: center;
}

.icon {
  flex-shrink: 0;
  margin-right: desk(10px);
  overflow: clip;
  border-radius: 50%;
  @include square(desk(28px, 20px));

  @include MIDDLE {
    @include square(mid(40px, 32px));
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.name {
  color: var(--secondary);
  font-size: desk(14px);

  @include MIDDLE {
    font-size: mid(28px, 22px);
  }
}

.dropdown {
  padding-block: desk(4px);
  position: absolute;
  left: -1px;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  border-radius: 0 0 10px 10px;
  transition: all .3s;
  background-image: linear-gradient(to bottom, transparent 0%, var(--bg) 30%);
  padding-inline: desk(6px);

  @include MIDDLE {
    margin-inline: auto;
    background: transparent;
  }
}

.dropdownLink {
  display: flex;
  align-items: center;
  color: var(--secondary);

  &:hover .dropdownName {
    color: var(--orange);
  }
}

.dropdownName {
  transition: all 250ms;
  font-size: desk(14px);

  @include MIDDLE {
    font-size: mid(28px, 22px);
  }
}