// @======================== hero-section ========================@ //

.section {
  height: 100dvh;
  position: relative;
  z-index: 0;
  $basePath: var(--basePath);
  background-color: #1e3040;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%;
  background: linear-gradient(135deg, var(--bg) 0%, var(--bgSecondary) 100%);
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: desk(820px);
  height: 100%;
  margin: 0 auto;
}

.heading {
  align-self: flex-start;
  margin-bottom: desk(10px);
}

.text {
  font-size: desk(44px, 38px);
  font-family: druk;
  margin-bottom: desk(50px);

  @include TABLET {
    font-size: tab(38px, 30px);
    margin-bottom: tab(50px, 20px);
  }
}

.buttonBox {}

.button {
  align-self: flex-start;
}