// @======================== hero-section ========================@ //

.section {
  height: 100dvh;
  position: relative;
  z-index: 0;
  $basePath: var(--basePath);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.heading {
  align-self: flex-start;
  margin-bottom: desk(10px);
}

.text {
  font-size: desk(36px, 30px);
  font-family: druk;
  margin-bottom: desk(50px);
  scale: 1 1.2;

  @include TABLET {
    font-size: tab(30px, 20px);
    margin-bottom: tab(50px, 20px);
  }
}

.buttonBox {}

.button {
  align-self: flex-start;
}