@use '../../../styles/abstracts/' as *;

// @======================== hero-section ========================@ //

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  padding-block: desk(20px);
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%;
  @include autoAlpha0;
}

.inner {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: desk(20px);
  width: 90vw;

  @include MIDDLE {
    flex-direction: column;
    justify-content: center;
    gap: mid(60px, 50px);
  }
}

.info {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: desk(670px, 470px);

  @include TABLET {
    max-width: tab(470px, 170px);
  }

  @include MIDDLE {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
  }
}

.heading {
  align-self: flex-start;
  margin-bottom: desk(10px);
  text-align: left;

  @include MIDDLE {
    align-self: center;
  }
}

.text {
  margin-bottom: desk(50px);
  font-size: desk(36px, 25px);
  scale: 1 1.2;

  @include TABLET {
    margin-bottom: tab(50px, 20px);
    font-size: tab(25px, 16px);
  }
}

.button_box {}

.button {
  align-self: flex-start;
}

.image_box {
  width: desk(580px, 580px);
  height: auto;
  position: relative;

  @include MIDDLE {
    width: mid(340px, 270px);
  }
}

.image {
  filter: drop-shadow(0 0 desk(10px) desk(10px) #fff);
  @include square(100%);
}

.circle {
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 0 0 desk(30px, 20px) desk(2px, 1px) var(--white50);
  background-image: radial-gradient(#ff7418, var(--lightOrange));

  &._top {
    width: desk(100px, 70px);
    left: desk(200px, 140px);
    top: desk(130px, 130px);
    animation: floating 2s ease-in-out infinite alternate;

    @include MIDDLE {
      left: mid(80px, 50px);
      top: mid(80px, 80px);
    }
  }

  &._bottom {
    width: desk(60px, 40px);
    left: desk(630px, 290px);
    bottom: desk(200px, 70px);
    animation: floating 1s ease-in-out infinite alternate;

    @include MIDDLE {
      left: auto;
      right: mid(100px, 70px);
      bottom: mid(50px, 50px);
    }
  }
}