.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  @include MIDDLE {
   
  }

  &._open {
    @include MIDDLE {
      z-index: 2;
      transform: translate(0%, 0);
    }
  }
}

.menuLinks {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  max-width: desk(600px, 270px);

  @include MIDDLE {
    flex: 0 1 auto;
    flex-direction: column;
    height: 300px;
  }
}

.menuLink {
  color: var(--secondary);
  font-size: desk(18px, 16px);
  font-weight: 700;
  transition: all .3s;

  @include MIDDLE {
    font-size: mid(32px, 24px);
  }

  &._active {
    color: var(--orange);
    font-size: desk(20px, 18px);
    font-weight: 700;

    @include MIDDLE {
      font-size: mid(40px, 32px);
    }
  }

  &:hover {
    color: var(--orange);
  }
}