@use '../../../styles/abstracts/' as *;

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  &._open {
    @include MIDDLE {
      z-index: 2;
      transform: translate(0%, 0);
    }
  }
}

.menu_links {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  max-width: desk(600px, 270px);

  @include MIDDLE {
    flex: 0 1 auto;
    flex-direction: column;
    height: 300px;
  }
}

.menu_link {
  position: relative;
  color: var(--secondary);
  font-size: desk(18px, 16px);
  font-weight: 700;
  transition: all .3s;

  @include MIDDLE {
    font-size: mid(32px, 24px);
  }

  &::after {
    content: attr(data-name);
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    translate: -50% -50%;
    z-index: 1;
    background-image: var(--orangeGradient);
    background-color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 250ms;
  }

  &._active {
    color: transparent;
    font-weight: 700;

    &::after {
      opacity: 1;
    }
  }

  &:hover {

    .link_text {
      opacity: 0;
      transition: opacity 500ms;
    }

    &::after {
      opacity: 1;
    }
  }
}

.link_text {
  transition: opacity 100ms;
}