// ^======================== work-card ========================^ //

.workCard {
  width: 100%;
  height: 100%;
  padding: desk(16px);
  border: desk(1px) solid var(--secondary50);
  background-color: #ffffff09;
  transition: all 250ms;
  border-radius: desk(16px);
  backdrop-filter: blur(desk(4px));

  @include MIDDLE {
    flex-shrink: 0;
    width: 100vw;
    padding-inline: 20px;
    background-color: transparent;
    scroll-snap-align: start;
    border: none;
    backdrop-filter: none;
  }

  @include HOVER {
    box-shadow: 0 0 desk(20px) desk(2px) #e5e5e544;
  }
}

.link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: inherit;

  @include MIDDLE {
    justify-content: space-between;
    gap: 10px;
    width: auto;
    height: 100%;
    padding: 10px;
    overflow: clip;
    border-radius: inherit;
    box-shadow: none;
    background-color: #ffffff09;
    container-type: size;
    backdrop-filter: blur(desk(4px));
    border: desk(1px) solid var(--secondary50);
  }
}

.imageBox {
  margin-bottom: desk(14px, 10px);
  aspect-ratio: 16 / 9;
  overflow: clip;
  width: 100%;

  @include MIDDLE {
    aspect-ratio: unset;
    display: flex;
    justify-content: center;
    max-height: 72cqh;
    margin-bottom: 0;
    overflow: clip;
  }
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  overflow: clip;
  object-fit: cover;
  transition: all .3s;
  // @include border-radius-top(desk(10px));
  border-radius: desk(10px);

  @include MIDDLE {
    width: auto;
    height: 100%;
    aspect-ratio: 0.46;
    object-fit: contain;
  }
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: desk(20px);
  padding-inline: desk(10px);
}

.title {
  font-size: desk(24px, 20px);
  font-weight: 700;

  @include TABLET {
    font-size: tab(20px, 18px);
  }
}

.description {
  font-size: desk(18px, 16px);

  @include TABLET {
    font-size: tab(16px, 14px);
  }
}

.technologies {
  display: flex;
  gap: desk(6px);
  margin-top: auto;
}

.technology {
  padding-inline: desk(8px);
  padding-block: desk(4px);
  border: desk(1px) solid #ffffffaa;
  font-size: desk(14px);
  border-radius: desk(6px);
}