@use '../../../styles/abstracts/' as *;

// ^======================== small-heading ========================^ //

.small-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: desk(40px, 32px);
  font-weight: 900;

  @include TABLET {
    font-size: tab(32px, 24px);
  }
}