// $======================== wrapper ========================$ //

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: clip;
  background-color: var(--bg);
  color: var(--main);
  font-family: lato, Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-image: linear-gradient(135deg, var(--bg) 0%, var(--bgSecondary) 100%);
  isolation: isolate;
}

.bg {
  z-index: unset;
  opacity: 0.10;
  background-size: desk(20px);
  position: fixed;
  z-index: -1;
}